@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.block_ {
    display: list-item;
    font-size: 0.83333em;
    margin-bottom: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    page-break-after: avoid;
    text-align: end
    }
.block_1 {
    display: list-item;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center
    }
.block_2 {
    display: block;
    font-family: serif;
    line-height: 1.2;
    margin-bottom: 7pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: end
    }
.block_4 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_5 {
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_6 {
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_8 {
    display: block;
    font-family: serif;
    margin-bottom: 85.1pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_9 {
    display: block;
    margin-bottom: 28.4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.6pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_11 {
    display: block;
    font-family: serif;
    margin-bottom: 85.1pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_12 {
    display: block;
    margin-bottom: 28.4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_13 {
    display: block;
    font-family: serif;
    margin-bottom: 85.1pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_14 {
    display: block;
    margin-bottom: 28.4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_15 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_16 {
    display: block;
    font-size: 1.29167em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: end
    }
.block_17 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 28.4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_18 {
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_19 {
    display: block;
    font-family: sans-serif;
    margin-bottom: 28.4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_20 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: end
    }
.block_21 {
    display: block;
    font-family: serif;
    margin-bottom: 85.1pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_22 {
    display: block;
    margin-bottom: 28.4pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9.65pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: start
    }
.block_23 {
    display: block;
    font-family: "Comic Sans MS", serif;
    font-size: 1.29167em;
    font-style: italic;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: end
    }
.block_24 {
    display: block;
    font-family: "Comic Sans MS", serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_25 {
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre {
    display: block;
    font-family: "Arial", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    white-space: pre-wrap
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre7 {
    height: auto;
    width: auto
    }
.list_ {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #00F;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline solid #FFF
    }
.text_1 {
    font-family: "Arial", serif
    }
.text_2 {
    font-family: serif
    }
.text_3 {
    color: currentColor;
    font-family: serif
    }
.text_4 {
    color: #00F;
    font-family: "Arial", serif;
    text-decoration: underline solid #FFF
    }
.text_5 {
    color: currentColor;
    font-family: "Arial", serif
    }
.text_6 {
    font-family: sans-serif
    }
.text_7 {
    font-family: "Arial", serif;
    font-style: italic
    }
.text_8 {
    color: currentColor
    }
.text_9 {
    color: #00F;
    text-decoration: underline solid #FFF
    }

@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

