@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

.block_ {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_1 {
    color: currentColor;
    display: block;
    font-family: "Times New Roman", serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_2 {
    background-color: #FFF;
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_3 {
    background-color: #FFF;
    display: block;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_4 {
    background-color: #FFF;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_5 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_6 {
    background-color: #FFF;
    color: currentColor;
    display: block;
    font-family: "Times New Roman", serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_7 {
    display: list-item;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_8 {
    background-color: #FFF;
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_9 {
    color: currentColor;
    display: block;
    font-style: italic;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_10 {
    color: currentColor;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_11 {
    color: currentColor;
    display: block;
    font-family: serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_12 {
    background-color: #FFF;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_13 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.block_14 {
    background-color: #FFF;
    color: currentColor;
    display: block;
    font-family: "Times New Roman", serif;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify
    }
.calibre {
    color: #696969;
    display: block;
    font-family: "DejaVu Sans", serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: 14.2pt;
    width: 14.2pt
    }
.calibre2 {
    white-space: pre-wrap
    }
.calibre3 {
    display: block
    }
.calibre4 {
    font-weight: bold
    }
.calibre5 {
    height: 13.6pt;
    width: 13.6pt
    }
.calibre6 {
    height: 36pt;
    width: 36pt
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre9 {
    height: auto;
    width: auto
    }
.list_ {
    display: block;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    background-color: #FFF;
    color: #696969;
    font-weight: bold;
    text-decoration: underline solid
    }
.text_1 {
    color: #696969;
    font-family: "DejaVu Sans", serif
    }
.text_2 {
    color: currentColor;
    font-family: "Times New Roman", serif
    }
.text_3 {
    color: #00F;
    font-weight: bold;
    text-decoration: underline solid
    }
.text_4 {
    font-family: "DejaVu Sans", serif
    }
.text_5 {
    font-family: "Times New Roman", serif
    }
.text_6 {
    color: #696969
    }
.text_7 {
    color: #00F;
    text-decoration: none
    }
.text_8 {
    color: #696969;
    font-family: "DejaVu Sans", serif;
    line-height: 1.2
    }
.text_9 {
    color: currentColor;
    font-family: "Times New Roman", serif;
    line-height: 1.2
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

